*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#back{
    background: linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),url('images/background.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: black;
    color: white;
}
.non{
    display: flex;
}
.non li{
    padding: 0px 5px;
}
.none{
    display: flex;
}
li{
    list-style-type: none;
}
.none li{
    padding: 0px 5px;
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.nav2{
    display: flex;
}
.nav2 li{
    padding: 0px 10px;
}
.text{
    font-size: 30px;
}
.get{
    padding: 60px 150px 20px 30px;
}
.text3{
    color: white;
    font-size: 40px;
}
.text4{
    color: grey;
    padding-top: 10px;
}
.start{
    margin-top:30px;
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
}
.show{
    display: none;
}
.line{
    border: 1px solid rgb(255,255,255,0.1);
    margin: 140px 30px 50px 30px;
    background-color: rgb(255,255,255,0.1);

}
.line h4{
    text-align: center;
    color: white;
    padding: 15px 0px 20px 0px;
    /* animation-name: dynam;
    animation-duration: 1200ms;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count: infinite; */
    animation: dynam 1200ms ease 5s infinite;
}
@keyframes dynam{
    0%{color: white;}
    25%{color: red;}
    50%{color: yellow;}
    75%{color: green;}
    100%{color: aqua;}
}
.line p{
    text-align: center;
    padding: 5px 0px;
}
.line h5{
    text-align: center;
    padding: 10px 0px;
}
.liner{
    display: flex;
    /* justify-content: space-around; */
}
.won{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.won2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;
    /* transition-property: width;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    transition-duration: 2s; */
    transition: width 2s, height 2s ,transform 2s ;
}
.won2:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.bottom{
    padding-top: 200px;
}
/* Responsiveness */
@media (max-width:873px){
    .nav2{
        display: none;
    }
    .show{
        display: block;
        margin-right: 100px;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        position: absolute;
        display: none;
        background-color: white;
        color: black;
        padding: 5px 15px;
        border: 1px solid black;
        box-shadow: 5px 5px 4px grey;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
}
@media (max-width:955px){
    .line{
        margin: 90px 30px 50px 30px;

    }
}
@media (max-width:940px){
    .line{
        margin: 80px 30px 50px 30px;

    }
}
@media (max-width:713px){
    .line{
        margin: 20px 30px 50px 30px;

    }
}
@media (max-width:661px){
    .line{
        margin: 5px 30px 50px 30px;

    }
    .line h4{
        color: black;
    }
}
@media(max-width:600px){
    .liner{
        flex-wrap: wrap;
    }
    .bottom{
    padding-top: 650px;

    }
    .line{
    border: 1px solid grey;
    background-color: rgb(0,0,0,0.8);
    margin: 40px 30px 50px 30px;
    }
    .line h4{
        color: white;
    }
    .line h5{
        color: white;
    }
}

@media(max-width:520px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 35px;
        }
}
@media(max-width:478px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 33px;
        }
}
@media(max-width:457px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 32px;
        }
}
@media(max-width:451px){
    .dis{
        display:none
    }
}
@media(max-width:418px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 30px;
        }
}
@media(max-width:389px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 28px;
        }
}
@media(max-width:375px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 25px;
        }
}
@media(max-width:418px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 28px;
        }
        .show{
            display: block;
            margin-right: 65px;
        }
}
@media(max-width:340px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 20px;
        }
        .show{
            display: block;
            margin-right: 65px;
        }
}
@media(max-width:319px){
    .bottom{
        padding-top: 700px;
        }
        .text3{
            color: white;
            font-size: 17px;
        }
        .show{
            display: block;
            margin-right: 65px;
        }
}